<%= provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>Feel free to contact me anytime, I would love to hear from you!</p>
<div id = "contacts">
	<ul>
		<li><%= link_to image_tag("email.png", alt:"Email"), 'mailto:akshaym1711@gmail.com'%></li>
		<li><%= link_to image_tag("linkedin.png", alt: "Linkedin"), 'http://linkedin.com/in/akshaym17' %></li>
		<li><%= link_to image_tag("twitter.png", alt:"Twitter"), 'http://twitter.com/mehraa17' %></li>
		<li><%= link_to image_tag("facebook.png", alt:"Facebook"), 'http://facebook.com/amehra94' %></li>
	</ul>
</div>